*{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

#websitename{
	font-size: 24px;
}

.navbar{
	width:100%;
	height:48px;
	line-height: 48px;
	vertical-align: middle;
	color:white;
	background-color:#4ecc3d;
	text-align: left;
}

.navbar ul, .navbar li{
	display:inline;
	margin-left:10px;
	margin-right:10px;
}

.navleft{
	float:left;
}

.navright{
	float:right;
}

.navbtn{
	text-decoration: none;
	color:white;
	outline:none;
	border:none;
}

.content{
	width:100%;
	padding-top:12px;
	padding-bottom: 12px;
}

.btn{
	min-width: 100px;
	height:16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:5px;
	padding-bottom:5px;
	color:white;
	text-decoration: none;
	background-color:#4ecc3d;
	transition:.3s;
}

.btn:hover{
	background-color:black;
	transition:.3s;
}

.imagefeed{
	width:80%;
	padding-top:12px;
	padding-bottom:12px;
	margin:auto;
}

.imagedisplay{
	width:30%;
	height:200px;
	color:black;
	background-color:white;
	float:left;
	margin-left: 16px;
	margin-top:16px;
	background-size: cover;
	background-position: center;
	display:table;
}

.shadowed{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.31);
}

.bigimagedisplay{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

.displaycontent{
	display:table-cell;
	line-height: 200px;
	vertical-align: middle;
	background-color:rgba(0,0,0,0.5);
	height:100%;
	width:100%;
	color:white;
	text-decoration: none;
}

.imagedisplay .displaycontent{
	display:none;
}

.imagedisplay:hover .displaycontent{
	display:block;
}

.text{
	width:80%;
	padding-top:12px;
	padding-bottom:12px;
	text-decoration: none;
}

